/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.home-container,
.about-container {
  padding: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {

  .home-container,
  .about-container {
    padding: 10px;
  }
}